@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import "tailwindcss";
@source "../../../package/web";

body {
  font-family: "Lexend", sans-serif;
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 999px;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 999px;
  }

  .scrollbar-hide {
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
